@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
	--gradient: linear-gradient(
		45deg,
		#000428,
		#000c75,
		#002c92,
		#004e92,
		rgb(15, 133, 211),
		rgb(15, 198, 211),
		rgb(15, 211, 201)
	);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	/* background: -webkit-linear-gradient(to bottom, #004e92, #000428); */
	background-image: var(--gradient);
	background-size: 400%;
	color: #fff;
	font-family: "Poppins", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	animation: bg-animation 10s infinite alternate;
}

.user-form {
	position: relative;
	width: 100%;
	max-width: 43.75rem;
	margin: 0 auto;
}

.user-form input {
	position: relative;
	width: 70%;
	display: inline-block;
	background: #134288de;
	border-bottom: 1px solid #00042834;
	border-top: 1px solid #00042834;
	border-left: 1px solid #00042834;
	border-radius: 12px 0 0 12px;
	border-right: 0;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 2rem;
	padding: 1rem;
	font-family: inherit;
	font-size: 1.4rem;
	color: #fff;
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
		0 15px 40px rgba(0, 0, 0, 0.1);
}
.user-form input[type="submit"] {
	position: relative;
	cursor: pointer;
	left: -4px;
	border-radius: 0 12px 12px 0;
	width: 120px;
	border: 1px solid #00042834;
	border-left: 0;
	outline: 0;
	color: #00042834;
	background: #0d2c5ade;
	color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
		0 15px 40px rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease-in;
}
.user-form input[type="submit"]:hover {
	background: #134288de;
	color: #fff;
}

.user-form input:focus {
	outline: none;
}

.user-form input::placeholder {
	color: #fff;
	opacity: 0.4;
}

.card {
	max-width: 50rem;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(70);
	/* background: #1342884b; */
	border-radius: 20px;
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
		0 15px 40px rgba(0, 0, 0, 0.1);
	display: flex;
	padding: 2rem;
	margin: 0 1.5rem;
}

.avatar {
	border-radius: 50%;
	border: 10px solid #00042881;
	height: 150px;
	width: 150px;
}

.user-info {
	margin-left: 2rem;
	color: #eee;
}

.user-info h2 {
	margin: auto;
	padding: 0 10px;

	margin-top: 0;
}

.user-info p {
	margin: 10px 0;
	padding: 10px;
}

.user-info ul {
	margin: 5px;
	padding: 5px;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	max-width: 400px;
}

.user-info ul li {
	display: flex;
	align-items: center;
}

.user-info ul li strong {
	font-size: 0.9rem;
	margin-left: 0.5rem;
}

.repo {
	text-decoration: none;
	color: #fff;
	background: #040a3d9d;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
	border-radius: 5px;
	margin: 0.5rem;
	display: inline-block;
}

@media (max-width: 600px) {
	body {
		min-height: 110vh;
		scroll-behavior: smooth;
	}
	.card {
		max-width: 80vw;
		flex-direction: column;
		align-items: center;
		margin: 0 0;
	}
	.user-form {
		max-width: 400px;
	}

	.user-form input {
		max-width: 300px;
		padding: 0.5rem;
	}
	.user-form input[type="submit"] {
		max-width: 100px;
	}
}
@media (max-width: 400px) {
	body {
		min-height: 110vh;
		scroll-behavior: smooth;
	}
	.card {
		max-width: 95vw;
		flex-direction: column;
		align-items: center;
		margin: 0 0;
	}
	.user-form {
		max-width: 380px;
	}

	.user-form input {
		max-width: 300px;
		padding: 0.5rem;
		font-size: 14px;
		margin-left: 4px;
	}
	.user-form input[type="submit"] {
		max-width: 80px;
		font-size: 14px;
		margin-left: 0;
	}
}

@keyframes bg-animation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}
